In [1]:
import math
import matplotlib.pyplot as plt
import streamlit as st

ad_cost = 2000*1.0E+4
fix_cost = 1000*1.0E+4
cost = ad_cost + fix_cost



def calc_earnings(ad_cost):
    earnings = 2.87E+07 * math.log(ad_cost) - 4.44E+08
    return int(earnings)

def calc_profit(earnings, cost):
    profit = earnings - cost
    return int(profit)

earnings = calc_earnings(ad_cost)
profit = calc_profit(earnings, cost)
profit_ratio = int(profit / cost * 100)

data_ad_cost = list(range(1000, 9001, 1))
data_earnings = [ calc_earnings(ad_cost*1.0E+04) for ad_cost in data_ad_cost]
data_profit = [calc_profit(earnings, ad_cost*1.0E+04 + fix_cost) for earnings, ad_cost in zip(data_earnings, data_ad_cost)]





# plt.plot(data_ad_cost, data_earnings, color='blue')
# plt.plot(data_ad_cost, data_profit, color='green')
# plt.show
max_profit = max(data_profit)

best_ad_cost = data_ad_cost[data_profit.index(max_profit)]

In [2]:
import pandas as pd
import altair as alt

In [3]:
df_earnings = pd.DataFrame()
df_earnings['ad_cost'] = data_ad_cost
df_earnings['value'] = data_earnings
df_earnings['indicator'] ='売上'
df_earnings

      ad_cost     value indicator
0        1000  18589345        売上
1        1001  18618030        売上
2        1002  18646687        売上
3        1003  18675316        売上
4        1004  18703916        売上
...       ...       ...       ...
7996     8996  81636932        売上
7997     8997  81640122        売上
7998     8998  81643312        売上
7999     8999  81646501        売上
8000     9000  81649690        売上

[8001 rows x 3 columns]

In [4]:
df_profit = pd.DataFrame()
df_profit['ad_cost'] = data_ad_cost
df_profit['value'] = data_profit
df_profit['indicator'] ='利益'
df_profit

      ad_cost     value indicator
0        1000  -1410655        利益
1        1001  -1391970        利益
2        1002  -1373313        利益
3        1003  -1354684        利益
4        1004  -1336084        利益
...       ...       ...       ...
7996     8996 -18323068        利益
7997     8997 -18329878        利益
7998     8998 -18336688        利益
7999     8999 -18343499        利益
8000     9000 -18350310        利益

[8001 rows x 3 columns]

In [5]:
df = pd.concat([df_earnings, df_profit])
df['value'] = df['value'] / 1.0E+04